.app {
    background-color: transparent;
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    margin: 0px;
    padding-inline: 20px;
    padding-top: calc(env(safe-area-inset-top) + 20px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
}

.game {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: clamp(5px, 2vh, 200px);
    gap: 6px;
}

.game-top {
    flex: 0 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.game-top .game-center {
    grid-column: 2;
    justify-self: center;
}

.fraction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fraction-top {
    margin: 0;
}

.fraction-bottom {
    border-top: 2px solid var(--text);
    margin: 0;
}

.stats {
    grid-column: 3;
    justify-self: end;
    height: 100%;
}

.stats p {
    margin: 0;
    line-height: 1.2em;
    text-align: end;
    padding-right: 10px;
}

.result {
    flex: 0 0 auto;
    min-height: 4.6em;
    text-align: center;
    line-height: 0.2em;
}

.shape-area {
    width: 100%;
    flex: 1 1 0;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape {
    border: 3px solid var(--text);
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    transition: .3s cubic-bezier(.13,.25,.48,.89);
}

.guess-fill {
    background-color: var(--fill);
    position: absolute;
    bottom: 0px;
    transition: none;
}

.answer-fill {
    position: absolute;
    bottom: 0px;
}