*,
*::before,
*::after {
  box-sizing: border-box;
  touch-action: none;
}

body {
    background-color: #f8f8f2;
    font-size: 24px;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    margin: 0px;
    font-size: clamp(1rem, 6vh, 2.5rem);
}

button {
    flex: 0 0 auto;
    all: unset;
    padding: 8px;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 3px 3px 0 rgb(0, 0, 0);
    background-color: white;
}

button:hover {
    transform: translate(-1px, -1px);
    box-shadow: 4px 4px 0 black;
}

button:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}