*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: #F2F0EF;
    font-size: 24px;
    overflow: hidden;
}

h1 {
    margin: 0px;
    font-weight: 200;
    font-size: 36px;
}

button {
    flex: 0 0 auto;
    all: unset;
    padding: 8px;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 3px 3px 0 rgb(0, 0, 0);
}

button:hover {
    transform: translate(-1px, -1px);
    box-shadow: 4px 4px 0 black;
}

button:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}