*,
*::before,
*::after {
  box-sizing: border-box;
  touch-action: none;
}

:root {
    --bg: #f8f8f2;
    --text: black;
    --fill: #878787;
    --highlight: white;
    --shadow: black;
}

.dark {
    --bg: #1E1E1E;
    --text: white;
    --fill: #53535b;
    --highlight: black;
    --shadow: black;
}

html,
body {
  background-color: var(--bg);
}

body {
    overscroll-behavior: none;
    margin: 0px;
    font-size: 24px;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0px;
    font-size: clamp(1rem, 6vh, 2.5rem);
}

.dark-mode-button {
    all: unset;
    font-size: clamp(1rem, 6vh, 2.5rem);
    aspect-ratio: 1;
    text-align: center;
}

.dark-mode-button-icon {
    transition: 0.1s ease;
}

.dark-mode-button:hover .dark-mode-button-icon {
    transform: scale(1.1);
}

.dark-mode-button:active .dark-mode-button-icon {
    transform: scale(0.5);
}

.game button {
    flex: 0 0 auto;
    all: unset;
    padding: 8px;
    border: 2px solid var(--text);
    border-radius: 3px;
    box-shadow: 3px 3px 0 var(--shadow);
    background-color: var(--highlight);
    transition: 0.1s ease;
}

.game button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 0 var(--shadow);
}

.game button:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}